.featured-jobs-container{
    margin-top: 120px;
}

.featured-jobs-container>h2{
    font-weight: 800;
    font-size: 48px;
    line-height: 66px;
    text-align: center;
    color: #1A1919;
    margin-bottom: 16px;
}

.featured-jobs-container>p{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #757575;
    margin-bottom: 32px;
}

.jobs-cards-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 15px;
    margin-bottom: 55px;
}

.btn-show-all{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border: 1px solid #7E90FE;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    /* margin-left: 416px; */
    margin-bottom: 32px;
    padding: 19px 32px;
}

@media (max-width: 571px) {
    .jobs-cards-container{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}