.banner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    padding: 0 25px;
    /* background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%); */
}

.banner-text-container{
    width: 550px;
}

.banner-text-container h1{
    font-weight: 800;
    font-size: 55px;
    line-height: 71px;
    color: #1A1919;
    margin-bottom: 24px;
}

.banner-text-container p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 32px;
}

.banner-img-container img{
    width: 100%;
}

.btn-get-started{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    border: none;
    padding: 12px 18px;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
    cursor: pointer;
}

@media (max-width: 910px) {
    .banner{
        flex-direction: column;
        margin-top: 2px;
    }

    .banner-text-container{
        width: 80%;
        margin: 80px 0;
    }

    .banner-text-container h1{
        font-size: 40px;
        line-height: 42px;
    }


    .banner-img-container{
        width: 80%;
    }

    .banner-text-container img{
        width: 100%;
    }
}

@media (max-width: 680px) {
    .banner-text-container h1{
        font-size: 34px;
    }
}