.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 25px;
}

.brand-title{
    font-weight: 800;
    font-size: 28px;
    line-height: 44px;
    color: #1A1919;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 36px;
}

.nav-list a{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #757575;
}

.btn-icon-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.apply-btn{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    border: none;
    padding: 12px 18px;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    color: #ffffff;
}